@import '_normalize.scss';


*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vh;
    background-color: #e4b0b0;
    display: flex;
}
.cat_block{
    position: relative;
    margin: auto;
    width: 240px;
    height: 300px;
}
.cat_body{
    width: 180px;
    height: 150px;
    background-color: #000000;
    border-radius: 60px 0 50px 0;
    bottom: 0;
    right: 0;
}
.cat_head{
    width: 130px;
    height: 130px;
    background-color: #000000;
    position: absolute;
    right: 10%;
    top: -25%;
    z-index: 1;
    border-radius: 60px 0 60px 0;
}
.cat_tail{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #e4b0b0;
    border: 40px solid #e4b0b0;
    border-left: 40px solid #000000;
    position: absolute;
    top: -47px;
    left: -30%;
    transform: rotate(-29deg);
    z-index: -1;
}
.cat_tail_end{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000;
    left: -15px;
    bottom: 100px;
}
.left_eye, .rigth_eye{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellowgreen;
    top: 30%;
    left: 12%;
}
.rigth_eye{
    left: 58%;
}
.pupil{
    position: absolute;
    width: 65%;
    height: 65%;
    background-color: #000000;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: rotate(-50%, -50%);
}
.ears{
    position: relative;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid #000000;
    border-bottom: 50px solid transparent;
    bottom: 20px;
    &::after{
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-right: 100px solid #000000;
        border-bottom: 50px solid transparent;
        bottom: -50px;
        right: -30px;
    }
}
.nose{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #3f3f3f;
    right: 45%;
    bottom: 42%;
    z-index: 1;
}
.mouth1, .mouth2{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #000000;
    border: 3px solid #000000;
    border-bottom: 3px solid #3f3f3f;
    border-radius: 50%;
    transform: rotate(-45deg);
    bottom: 35%;
    right: 48.5%;
}
.mouth2{
    transform: rotate(45deg);
    right: 39.2%;
}
